<!DOCTYPE html>
<head>
    <title>Document</title>
</head>
<body>
    <%- include('common/header')%> 
    <!-- is treekh sy ap ejs common files ko multiplepal jgha use kr skty ho. bs isko lagaty hwe ek chz ka kheyal rakhnah equal (=) ke jgha hifen (-) ka use krna h wrna ye usko pury k pury tags ko js smj kr render kr dega -->
    <h1>Welcome in the Login Section</h1>
</body>
</html>