<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
</head>
<body>
    <h1>Welcome <%= user.name%> in the Profile Scetion</h1>
    <h1>Welcome <%= user.email%> in the Profile Scetion</h1>
    <h1>Welcome <%= user.age%> in the Profile Scetion</h1>
</body>
</html>